 
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #212020a9;  
  }
  .center1{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #1b0059a9;
  }
  
  
  .signin-container{
    border: 2px solid black;
    padding: 2rem;
    border-radius: 20px;
    width: 50vw;
    height: max-content;
    background: wheat;
  
  }
  .signup-container{
  
    border: 2px solid black;
    padding: 2rem;
    border-radius: 20px;
    width: 50vw;
    height: max-content;
    background: #017da7;
  
  }
  
  
  
  @media only  screen and  (max-width : 450px){
    .signin-container{
      width: 90%;
    }
    .signup-container{
      width: 90%;
    }
  }